%meta{ :name => "Generator", :content => "Senior Haml-TON!!!"}<>
%link{ :rel => "stylesheet", :type => "text/css", :href => "../css/main.css"}<>
%script{ :language => "Javascript", :src => "../js/website/jquery-1.11.0.min.js"}<>
%script{ :language => "Javascript", :src => "../js/website/jquery.modern-blink.js"}<>
%script{ :language => "Javascript", :src => "../js/website/main.js"}<>
