{% if preamble %}<section id="preamble">{{ preamble }}</section>{% endif %}
<section id="demoStats">
    <div class="container">
        <div class="stats">
            <div class="header">{{ page.title }}</div>
            <div class="platform">{% for platform_entry in page.platform %}{{ platform_entry }} 
                {% if forloop.last == false %} / {% endif %}
                {% endfor %}
                 0nLy!!!1!</div>
            <div class="released">Released: {{ page.released }}!!!!</div>
            <div class="downloads">
                {% capture local_file %}/filez/demos/{{ page.local_file}}{% endcapture %}
                <div class="mainfile"><a href="{{ local_file | relative_url }}"><img alt="[d0Wnl0Ad!!11]" title="[d0Wnl0Ad!!11]" class="disk"
                            height="37" src="{{ "/assets/images/disk1.gif" | relative_url }}" title="[d0Wnl0Ad!!11]" width="34"></a><a
                        href="{{ local_file | relative_url }}">Shift Clicky 2 Downloady! ({{page.size}})</a></div>
                {% if page.ftp_mirrors %}
            <div class="mirrors">Also mirrored at<ul>
                    {% for mirror in page.ftp_mirrors %}
                        <li>
                            {% assign mirror_index = forloop.index %}
                            {% for mirror_title in site.data.mirror_titles %}
                                {% if mirror_title.id == mirror_index %}
                                    {% assign mirror_title = mirror_title %}
                                    {% capture image_url %}/assets/images/{{ mirror_title.image }}{% endcapture %}
                                    <a href="{{ mirror }}"><img class="disk" height="37" 
                                        src="{{image_url | relative_url }}" title="{{ mirror_title.title }}" alt="{{ mirror_title.title }}"
                                        width="34"></a></li>
                                    {% endif %}
                            {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% capture image_url %}/assets/images/demos/{{ page.screenshots.hero.url }}{% endcapture %}
        <div align="center" class="image" valign="top"><img src="{{ image_url | relative_url }}" title="{{ page.screenshots.hero.title }}" alt="{{ page.screenshots.hero.title }}"></div>
    </div>
</section>
<section id="description">
{{ description }}
</section>

{% if page.credits %}
<section id="creditsWrapper">
    {% if page.credits.expanded %}
    <div id="creditsExpanded">
        {% if page.credits.header %}
            <div class="header">{{page.credits.header}}</div>
        {% endif %}
        {% for credit in page.credits.credit_list %}
            <div class="credit">
                <div class="deed">{{ credit.deed }}{% if credit.deed != "" %}:{% endif %}</div>
                <div class="detail">
                    {% if page.credits.by_list %}<ul>{% endif %}
                        {% for detail in credit.detail %}
                        {% if page.credits.by_list %}<li>{% endif %}{{ detail }}{% if page.credits.by_list %}</li>{% else %}<br/>{% endif %}
                        {% endfor %}
                    {% if page.credits.by_list %}</ul>{% endif %}
                </div>
                <div class="by{% if page.credits.by_list %} list{% endif %}">
                    {% if page.credits.by_list %}<ul>{% endif %}
                    {% if credit.by_text %}
                        {% assign credit_text = credit.by_text %}
                        {% for being in credit.by %}
                            {% if page.credits.by_list %}<li>{% endif %}
                            {% if being.person %}
                                {% assign crew_member = site.data.crew[being.person] %}
                                {% if being.alias %}
                                    {% capture crew_member_link %}<a href="{{ crew_member.url | relative_url }}">{{ being.alias }}</a>{% endcapture %}
                                {% else %}
                                    {% capture crew_member_link %}<a href="{{ crew_member.url | relative_url }}">{{ crew_member.name }}</a>{% endcapture %}
                                {% endif %}
                                {% capture crew_name_replace %}%crew_member_name{% if forloop.index > 1 %}{{ forloop.index }}{% endif %}%{% endcapture %}
                                {% assign credit_text = credit_text | replace : crew_name_replace, crew_member_link %}
                            {% endif %}
                            {% if page.credits.by_list %}</li>{% endif %}
                        {% endfor %}
                        {{ credit_text }}
                    {% else %}
                        {% for being in credit.by %}
                            {% if page.credits.by_list %}<li>{% endif %}
                            {% if being.person %}
                                {% assign crew_member = site.data.crew[being.person] %}
                                {% if being.alias %}
                                    {% capture crew_member_link %}<a href="{{ crew_member.url | relative_url }}">{{ being.alias }}</a>{% endcapture %}
                                {% else %}
                                    {% capture crew_member_link %}<a href="{{ crew_member.url | relative_url }}">{{ crew_member.name }}</a>{% endcapture %}
                                {% endif %}
                                {% if being.person_text %}
                                    {% assign credit_text = being.person_text | replace : "%crew_member_name%", crew_member_link %}
                                {% else %}
                                    {% assign credit_text = crew_member_link %}
                                {% endif %}
                                {{ credit_text }}
                            {% else %}
                                {{ being.person_text }}
                            {% endif %}
                            {% if forloop.last == false and page.credits.by_list != true %}
                            <br />
                            {% endif %}
                            {% if page.credits.by_list %}</li>{% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if page.credits.by_list %}</ul>{% endif %}
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div id="credits">
            {% if page.credits.header %}
                <div class="header">{{page.credits.header}}</div>
            {% endif %}
            {% for credit in page.credits.credit_list %}
                <div class="credit">
                    <div class="deed">{{credit.deed}}</div>
                    <div class="by{% if page.credits.by_list %} list{% endif %}">
                        {% if page.credits.by_list %}<ul>{% endif %}
                        {% for being in credit.by %}
                            {% if page.credits.by_list %}<li>{% endif %}
                            {% if being.person %}
                                {% assign crew_member = site.data.crew[being.person] %}
                                {% capture crew_member_link %}<a href="{{ crew_member.url | relative_url }}">{{ crew_member.name }}</a>{% endcapture %}
                                {% if being.person_text %}
                                    {% assign credit_text = being.person_text | replace : "%crew_member_name%", crew_member_link %}
                                {% else %}
                                    {% assign credit_text = crew_member_link %}
                                {% endif %}
                                {{ credit_text }}
                            {% else %}
                                {{ being.person_text }}
                            {% endif %}
                            {% if forloop.last == false and page.credits.by_list != true %}
                                <br/>
                            {% endif %}
                            {% if page.credits.by_list %}</li>{% endif %}
                        {% endfor %}
                        {% if page.credits.by_list %}</ul>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </section>
{% endif %}
{% if post_credits %}
<section id="post-credits">
    {{ post_credits }}
{% endif %}
{% if saggie %}
<p></p>
<hr>
<p></p>
<section id="saggie">
    <a href="{{ "/features/saggie/" | relative_url }}"><div class="title" title="sAgG13!!!1!" alt="sAgG13!!!1!"></div></a>
    {{ saggie }}
</section>
{% endif %}
{% if end_bit %}
<section id="end-bit">
{{ end_bit }}
</section>
{% endif %}
{% if page.order < site.demos.size %}
{% assign next_page_no = page.order | plus: 1 %}
{% assign next_page = site.demos | where: "order", next_page_no | first %}
{% capture next_page_url %}{{next_page.id}}.html{% endcapture %}
<a href="{{ next_page_url | relative_url }}"><div class="more"></div></a>
{% endif %}
