<div class="PageNavigation row">
	<div class="col">
  {% if page.previous.url %}
    <div class="prev text-left"><a href="{{page.previous.url | relative_url }}">&laquo; {{page.previous.title | truncate: 50}}</a></div>
  {% endif %}
  	</div>
  	<div class="col">
  	<div class="home text-center"><a href="{{ "/" | relative_url }}">Home</a></div>
  	</div>
  	<div class="col">
  {% if page.next.url %}
    <div class="next text-right"><a href="{{page.next.url | relative_url }}">{{page.next.title | truncate: 50}} &raquo;</a></div>
  {% endif %}
  	</div>
</div>
