<div class="pagination" class="row">
	<div class="col prev text-left">
  		{% if paginator.previous_page %}
    	<a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Newer</a>
  		{% else %}
    	<span class="previous"></span>
  		{% endif %}
  	</div>
  	<div class="col home text-center">
  		<span class="page_number ">
    	Page: {{ paginator.page }} of {{ paginator.total_pages }}
  		</span>
  	</div>
  	<div class="col next text-right">
  		{% if paginator.next_page %}
    	<a href="{{ paginator.next_page_path | relative_url }}" class="next">Older</a>
  		{% else %}
    	<span class="next "></span>
  		{% endif %}
  	</div>
</div>
