<section id="landing-header">
    <a href="." class="logo"><img src="{{ "/features/citizen/v2/graphics/logo.jpg" | relative_url }}" width="370" height="111" border="0"></a>
    <a href="#FAQ" class="faq"><img src="{{ "/features/citizen/v2/graphics/faqbaq.jpg" | relative_url }}" border="0" width="111" height="111"></a>
    <div class="tagline">
      <b>SENIOR  CITIZEN</b> is a flippin' good read of other people's flippin' good read!!! 
        Peruse the wierd and wacky each week thru the miracle that is the megamighty 
        super-information edutainment multimedia ultra-highway Webby thingy!!!!! 
        Presented by Old Fart of the multimedia art terrorist democrew, tha <a href="{{ "/" | relative_url }} ">SENIOR DADS</a>!!!!!
    </div>
    <div class="mail-us">
      <a href="mailto:seniorcitizen@seniordads.fsnet.co.uk"><img src="{{ "/features/citizen/v2/graphics/mail.gif" | relative_url }}" width="46" height="52" align="left" border="0"></a>
      Any interesting stories, feedback, suggestions?? <a href="mailto:seniorcitizen@seniordads.fsnet.co.uk">Mail us</font></a>!!</span></font></span></font></span>
    </div>
  </section>
  