/* SENIO-STYLE!!!!! */

:root {
  --red: #FF0000;
  --white: #FFFFFF;
  --yellow: #FFFF00;
  --grass-green: #77ff00;
  --grey: #808080;
  --black: #000000;

  --main-text-col: var(--yellow);
  --main-text_shadow-col: var(--black);

  --transistion-speed: 0.15s;
  --link-transistion: color var(--transistion-speed) ease-in-out, text-decoration var(--transistion-speed) ease-in-out;

  --default-font: Times New Roman, Times, Garamond, serif;
  --default-font-size: 1.05rem;
}

@mixin linkCol($link, $visited, $hover, $active) {
	a {
		&:link {
			color: $link;
		}
		&:visited {
			color: $visited;
		}
		&:active {
			color: $active;
		}
		&:hover {
			color: $hover;
      transition: var(--link-transistion);
		}
	}
}

@mixin position($x: 0px, $y: 0px) {
  position: absolute;
  left: $x;
  top: $y;
}

@mixin mainTextStyle {
	color: var(--main-text-col);
  text-shadow: 0 0 4px var(--main-text_shadow-col);
	font: {
		family : var(--default-font);
		size: var(--default-font-size);
		weight: normal;
	}
	@include linkCol( var(--grass-green), var(--red), var(--white), var(--white) );
  a {
    text-decoration: underline;
  }
}

@mixin preFormattedText {
  white-space: pre;
  display: block;
  unicode-bidi: embed;
  font-family: Courier, san-serif;
}

// Blink keyframes
@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
@keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

body {
  padding: 1%;
	@include mainTextStyle;
	background: {
		color: #000077;
		image: url(images/sad_back.gif);
		repeat: repeat;
	}
	.highlight {
		color: var(--white);
	}
	.blink, blink {
		animation: blinker 1s step-end infinite;
		-webkit-animation: blinker 1s step-end infinite;
	}
	.formattedtext {
		@extend .highlight;
		white-space: pre ; 
		display: block; 
		unicode-bidi: embed;
		font-family: Courier, san-serif;
		margin: {
			left: auto;
			right: auto;
		}
	}
  hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;   
  }   
  
  .lastUpdated, .urlLastUpdated {
    font: {
      style: italic;
      size: smaller;
    }
    text-align: right;
  }
  
  .counter {
    font: {
      face: Comic Sans, sans-serif;
      weight: bold;
    }
  }

  .link {
    cursor: pointer;
  }

  .more {
    width: 211px;
    height: 82px;
    background: url(images/more.gif) center;
    cursor: pointer;
    margin: 20px;
    float: right;
    #MonoMental & {
      background: url(images/demos/mono/more.gif) center;
    }
  }
}

#subHeaderWrapper {
  width: 100%;
  #subHeader {
    margin: {
      left: auto;
      right: auto;
    }
    position: relative;
    width: 80px + 350px;
    height: 150px;
    margin-bottom: 20px;

    #sd {
      @include position(0px, 150px - 107px);
      width: 80px;
      height: 107px;
      background: {
        image: url(images/sd_small.gif);
        repeat: no-repeat;
        position: center;
      }
      #MonoMental & {
        background-image: url(images/demos/mono/sd_small.gif);
      }
    }
    #title {
      width: 350px;
      height: 150px;
      @include position(80px, 0px);
      background: {
        repeat: no-repeat;
        position: center;
      }
      #MonoMental & {
        background-image: url(images/demos/mono/demos.gif);
      }
    }
  }
}

.l33TsP33k {
  font: {
    size: xx-large;
  }
  .l33Tf1RsT {
    font: {
      size: initial;
    }
  }
}


.noscript {
  width: 80%;
  margin: {
    left: auto;
    right: auto;
  }
  background-color: white;
  noscript {
    padding: 15px;
    color: black;
    font: {
      family: Impact, Arial Black, Arial, sans-serif;
      size: 164px;
    }
  }
}

.bigger2 {
  font-size: x-large;
}

#SDTextTitle {
	width: 40%;
}

@import "page/index.scss";
@import "page/crew.scss";
@import "page/demos.scss";
@import "page/updates.scss";
@import "page/music.scss";
@import "page/gfx.scss";
@import "page/features.scss";
@import "page/netbest.scss";
@import "page/saggie.scss";
@import "page/knut.scss";
@import "page/presstrail.scss";
@import "page/citizen.scss";
