body#citizen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: var(--black);
    background-color: var(--white);
    background-image: url(images/features/citizen/sc_back.png), url(images/features/citizen/chalk.gif);
    background-repeat: no-repeat, repeat;
    background-position: 20px calc(100% + 100px);
    
    background-attachment: fixed;
    text-shadow: none;
    
    table {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt
    }

    td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt
    }

    .title {
        font-family: Impact, Arial, Helvetica, sans-serif;
        font-size: 36pt
    }

    .date {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: var(--white);
        background-color: #000066;
        font-style: italic
    }

    .editorial {
        font-size: 10pt;
        background-color: #ffddee;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .slogan {
        font-family: Times Roman, serif;
        font-style: italic;
        font-size: 14pt;
        background-color: #ffeedd;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .story {
        font-size: 10pt;
        background-color: #ddffee;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .byline {
        margin-left: 5%;
        background-color: #ddeeff;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-style: italic
    }

    .quote {
        font-family: Times Roman, serif;
        font-style: italic;
        font-size: 10pt;
        background-color: #ddffff;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .picture {
        background-color: #ffffdd;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .picture_frame {
        background-color: #ffffdd;
        border: 1px black solid;
        padding: 0px;
    }

    .indent {
        margin-left: 5%;
    }

    .linkoid {
        font-size: 10pt;
        background-color: #ffeeee;
        border: 1px black solid;
        padding: 5px;
    }

    .section_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #FFFFFF;
        background-color: #000000;
        margin-left: 5%;
        padding: 0px;
        font-style: italic
    }

    .minitext {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-weight: bold
    }

    .tinytext {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt
    }

    .usenet {
        margin-left: 5%;
        font-family: Courier New, Courier;
        font-size: 10pt;
        background-color: #ddeeff;
        border: 1px black solid;
        padding: 5px;
    }

    .indent {
        margin-left: 5%;
    }

    .linkoid {
        font-size: 10pt;
        background-color: #ffeeee;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .section_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #FFFFFF;
        background-color: #000000;
        padding: 0px;
        font-style: italic;
    }
    h1 { 
        font-family: Impact, Arial, Helvetica, sans-serif; 
        font-size:36pt;
        color: var(--black);
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24pt
    }

    h3 {
        font-family: Impact, Arial, Helvetica, sans-serif;
        font-size: 24pt;
        color: #000055
    }

    h4 {
        font-family: Impact, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: #000000;
        margin-left: 5%;
        ;
        font-weight: lighter
    }

    h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt
    }

    a:link {
        color: #000077
    }

    a:active {
        color: #FFFF99
    }

    a:visited {
        color: #770000
    }

    #landing-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2em;

        a.logo, div.tagline {
            width: 370px;
        }
        a.faq, div.mail-us {
            width: calc(100% - 370px);
        }
        a {
            text-align: center;
        }
        div.tagline, div.mail-us {
            @extend .tinytext;
            color: var(--white);
            padding: 0.5em;
            a {
                color: var(--yellow);
            }
        }

        div.tagline {
            background-color: #004000;
        }
        div.mail-us {
            background-color: #00a0dd;
        }
    }

    #landing-main-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        article{
            width: calc(85% - 1em);
        }

    }
    nav#archive-nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        width: 15%;

        header, footer {
            background-color: #660033;
            color: var(--white);
            @extend .tinytext;
            a {
                color: var(--yellow);
            }
        }
        & > a {
            width: 100%;
            text-align: center;
            background-color: #FED39A;
            @extend .tinytext;
        }
        p {
            @extend .tinytext;
            font-weight: bold;  
        }
    }

    #main-v1 {
        display: flex;
        justify-content: space-between;
        nav {
            max-width: 15%;
            margin-right: 2em;
            & > div {
                margin-bottom: 1em;
            }
            .issue, .description, .music {
                @extend .tinytext;
                text-align: center;
            }
            .issue, .written-by, .contributors {
                padding: 0.5em;
            }
            .issue {
                background-color: var(--white);
            }
            .description {
                font-weight: bold;
            }
            .email-us {
                text-align: center;
                margin-bottom: 1em;
            }
            .written-by {
                color: #FFFF99;
                background-color: #009900;
            }
            .contributors {
                color: #00FFFF;
                background-color: #000099;
            }
            .previous-issues {
                text-align: center;
                color: #FFFF00;
                background-color: #CC0033;
                a {
                    color: #ffff88;
                }

                ol {
                    @extend .minitext;
                    //list-style: none;
                    //counter-reset: steps 25;
                    background-color: #FFFF99;
                    color: var(--black);
                    /*li {
                        counter-increment: steps -1;
                    }*/
                    &.zero {
                        list-style: none;
                        padding-inline-start: 0%;
                    }
                    li::marker {
                        font-size: 1.5rem;
                        font-weight: normal;
                        margin-right: 0.5em;
                        padding-top: 0.5em;
                    }
                    li:after {
                        content: list-item ":";
                    }
                    a {
                        color: #000077;
                        &:before, &:after {
                            content: '"';
                        }
                    }
                }
            }
        }
        & > section {
            h1 { 
                font-family: Impact, Arial, Helvetica, sans-serif; 
                font-size:36pt;
                color: var(--black);
            }
            header, footer {
                text-align: center;
            }
            header {
                img {
                    width: 380px;
                    height: 110px;
                }
            }
            article {
                margin-bottom: 1em;
                h2 { 
                    font-family: Impact, Arial, Helvetica, sans-serif;
                    font-size:24pt; 
                    color:#000077
                }
                p, ol, ul {
                    margin-left: 3em;
                }

                blockquote {
                    margin-left: 6em;
                    font-style: italic;
                }

                &.editorial {
                    margin: 0;
                    border:  none;
                    background: none;
                    margin-bottom: 1em;
                    border-bottom: var(--black) 1px solid;
                    display: flex;
                    img {
                        float: right;
                        clear: both;
                        border: var(--black) 1px solid;
                    }
                    img:first-child, div:first-child {
                        margin-right: 1em;
                    }
                }
            }
        }
    }
    footer.the-end {
        border-top: var(--black) 1px solid;
        padding-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        p {
            font-weight: bold;
        }
        p:first-child {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24pt;
        }
    }
    #issues-archive {
        h1 { 
            font-family: Impact, Arial, Helvetica, sans-serif; 
            font-size:36pt;
            color: var(--black);
            text-align: center;
        }
        .issues {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            a {
                position: relative;
                width: calc(33% - 1em);
                border-radius: 1.5em;
                margin-bottom: 1em;
                text-align: center;
                //background-color: var(--white);
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)),
                            url(images/features/citizen/sc_back.png),
                            linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
                text-shadow: 0px 0px 5px var(--white);
                margin-right: 1em;
                height: 200px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7);
                &.has-cover {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &.top {
                        background-position: top;
                    }
                }
                .issue {
                    position:absolute;
                    left: 0.5em;
                    top: 0.5em;
                    font-size: 1rem;
                    font-weight: bold;
                }
                .date {
                    position:absolute;
                    right: 0.5em;
                    top: 0.5em;
                    background: none;
                    color: var(--black);
                    font-style: italic;
                    font-size: 1rem;
                }
                .issue-title {
                    position:absolute;
                    top: 1.6em;
                    left: 1em;
                    font-family: Impact, Arial, Helvetica, sans-serif;
                    font-size: 1.7rem; 
                    color:#000077;
                    width: calc(100% - 2em);
                }
                &:hover {
                    .issue-title {
                        text-decoration: underline;
                    }
                }
            }
            a:nth-child(3n) {
                margin-right: 0;
                width: 33%;
            }
        }
    }
    #v1-articles-index {
        header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            img {
                width: 370px;
                margin-right: 1em;
            }
            div {
                width: calc(100% - 370px - 1em);
                text-align: center;
            }
        }
        nav#letters {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            a {
                font-family: Impact, Arial, Helvetica, sans-serif;
                font-size: 1.25rem; 
                color:#000077;
                background-color: rgb(187,255,255);
                border-radius: 0.3em 0.3em 0.3em 0.3em ;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
                padding: 0.5rem;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    background-color: rgb(187, 240, 10);
                    transition: var(--link-transistion), background-color var(--transistion-speed) ease-in-out;
                }
            }
        }
        section.letter-articles {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-bottom: 1em;
            p {
                font-family: Impact, Arial, Helvetica, sans-serif;
                font-size:24pt; 
                color:#000077;
                background-color: rgba(187,255,255, 0.85);
                border-radius: 0.45em 0 0 0.45em ;
                width: 3em;
                text-align: center;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
                a {
                    color:#000077;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            ul {
                width: calc(100% - 3em);
                background-color: rgba(255,255,255, 0.75);
                border-radius: 0 0.45em 0.45em 0;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
                padding: 1em;
                list-style: none;
            }
        }
    }
}