body#citizen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: var(--black);
    background-color: var(--white);
    background-image: url(images/features/citizen/sc_back.png), url(images/features/citizen/chalk.gif);
    background-repeat: no-repeat, repeat;
    background-position: 20px calc(100% + 100px);
    
    background-attachment: fixed;
    text-shadow: none;
    
    table {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt
    }

    td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt
    }

    .title {
        font-family: Impact, Arial, Helvetica, sans-serif;
        font-size: 36pt
    }

    .date {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: var(--white);
        background-color: #000066;
        font-style: italic
    }

    .editorial {
        font-size: 10pt;
        background-color: #ffddee;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .slogan {
        font-family: Times Roman, serif;
        font-style: italic;
        font-size: 14pt;
        background-color: #ffeedd;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .story {
        font-size: 10pt;
        background-color: #ddffee;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .byline {
        margin-left: 5%;
        background-color: #ddeeff;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-style: italic
    }

    .quote {
        font-family: Times Roman, serif;
        font-style: italic;
        font-size: 10pt;
        background-color: #ddffff;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .picture {
        background-color: #ffffdd;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .picture_frame {
        background-color: #ffffdd;
        border: 1px black solid;
        padding: 0px;
    }

    .indent {
        margin-left: 5%;
    }

    .linkoid {
        font-size: 10pt;
        background-color: #ffeeee;
        border: 1px black solid;
        padding: 5px;
    }

    .section_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #FFFFFF;
        background-color: #000000;
        margin-left: 5%;
        padding: 0px;
        font-style: italic
    }

    .minitext {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-weight: bold
    }

    .tinytext {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt
    }

    .usenet {
        margin-left: 5%;
        font-family: Courier New, Courier;
        font-size: 10pt;
        background-color: #ddeeff;
        border: 1px black solid;
        padding: 5px;
    }

    .indent {
        margin-left: 5%;
    }

    .linkoid {
        font-size: 10pt;
        background-color: #ffeeee;
        border: 1px black solid;
        padding: 5px;
        margin-left: 5%;
    }

    .section_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color: #FFFFFF;
        background-color: #000000;
        padding: 0px;
        font-style: italic;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24pt
    }

    h3 {
        font-family: Impact, Arial, Helvetica, sans-serif;
        font-size: 24pt;
        color: #000055
    }

    h4 {
        font-family: Impact, Arial, Helvetica, sans-serif;
        font-size: 12pt;
        color: #000000;
        margin-left: 5%;
        ;
        font-weight: lighter
    }

    h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt
    }

    a:link {
        color: #000077
    }

    a:active {
        color: #FFFF99
    }

    a:visited {
        color: #770000
    }

    #landing-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2em;

        a.logo, div.tagline {
            width: 370px;
        }
        a.faq, div.mail-us {
            width: calc(100% - 370px);
        }
        a {
            text-align: center;
        }
        div.tagline, div.mail-us {
            @extend .tinytext;
            color: var(--white);
            padding: 0.5em;
            a {
                color: var(--yellow);
            }
        }

        div.tagline {
            background-color: #004000;
        }
        div.mail-us {
            background-color: #00a0dd;
        }
    }

    #landing-main-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        nav {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            width: 15%;

            header, footer {
                background-color: #660033;
                color: var(--white);
                @extend .tinytext;
                a {
                    color: var(--yellow);
                }
            }
            & > a {
                width: 100%;
                text-align: center;
                background-color: #FED39A;
                @extend .tinytext;
            }
            p {
                @extend .tinytext;
                font-weight: bold;  
            }
        }
        article{
            width: calc(85% - 1em);
        }

    }
    #main-v1 {
        display: flex;
        justify-content: space-between;
        nav {
            margin-right: 2em;
            & > div {
                margin-bottom: 1em;
            }
            .issue, .description, .music {
                @extend .tinytext;
                text-align: center;
            }
            .issue, .written-by, .contributors {
                padding: 0.5em;
            }
            .issue {
                background-color: var(--white);
            }
            .description {
                font-weight: bold;
            }
            .email-us {
                text-align: center;
                margin-bottom: 1em;
            }
            .written-by {
                color: #FFFF99;
                background-color: #009900;
            }
            .contributors {
                color: #00FFFF;
                background-color: #000099;
            }
            .previous-issues {
                text-align: center;
                color: #FFFF00;
                background-color: #CC0033;
                a {
                    color: #ffff88;
                }

                ol {
                    @extend .minitext;
                    //list-style: none;
                    //counter-reset: steps 25;
                    background-color: #FFFF99;
                    color: var(--black);
                    /*li {
                        counter-increment: steps -1;
                    }*/
                    li::marker {
                        font-size: 1.5rem;
                        font-weight: normal;
                        margin-right: 0.5em;
                        padding-top: 0.5em;
                    }
                    li:after {
                        content: list-item ":";
                    }
                    a {
                        color: #000077;
                        &:before, &:after {
                            content: '"';
                        }
                    }
                }
            }
        }
        & > section {
            h1 { 
                font-family: Impact, Arial, Helvetica, sans-serif; 
                font-size:36pt;
                color: var(--black);
            }
            header, footer {
                text-align: center;
            }
            header {
                img {
                    width: 380px;
                    height: 110px;
                }
            }
            article {
                margin-bottom: 1em;
                h2 { 
                    font-family: Impact, Arial, Helvetica, sans-serif;
                    font-size:24pt; 
                    color:#000077
                }
                p, ol, ul {
                    margin-left: 3em;
                }

                blockquote {
                    margin-left: 6em;
                    font-style: italic;
                }

                &.editorial {
                    margin: 0;
                    border:  none;
                    background: none;
                    margin-bottom: 1em;
                    border-bottom: var(--black) 1px solid;
                    display: flex;
                    img {
                        float: right;
                        clear: both;
                    }
                }
            }
        }
    }
    footer.the-end {
        border-top: var(--black) 1px solid;
        padding-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        p {
            font-weight: bold;
        }
        p:first-child {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24pt;
        }
    }

}