body#choonz {
    #subHeader {
        #title {
            background-image: url(images/choons.gif);
        }
    }
    ul.musiclist {
      list-style: none;
      li {
          background: {
            position: top left;
            repeat: no-repeat;
          }
          padding-left: 40px;
          padding-bottom: 15px;
          &.musicitem {
            background-image: url(images/disk.gif);
          }
          &.mono {
            background-image: url(images/disk4.gif);
          }
      }
      .title {
        font-weight: bold;
        font-size: larger;
      }
      .info {
          a {
            font-weight: bold;
          }
      }
    }
  }
  
  