---
layout: citizen-base
style: citizen
title: "SENIOR CITIZEN: Article archive!!!"
keywords: Senior, Dads, demo, scene, demoscene, Atari, excellent, brilliant, elite, Citizen, article, archive
author: Old Fart!!!
---
<a name="top"></a>
<section id="v1-articles-index">
  <header>
    <a href="{{ "/features/citizen/" | relative_url }}" class="logo"><img src="{{ "/features/citizen/v2/graphics/logo.jpg" | relative_url }}" width="370" height="111" border="0"></a>
    <div>
      <h1>Version 1 Article Archive!!!</h1>
      <p>You can also browse <a href="index.html">individual issues</a> to!!!!</p>
    </div>
  </header>
{% assign articles = site.sc_articles | where: "version", "1" %}
{% assign article_titles = "" | split: "" %}
{% assign article_letters = "" | split: "" %}
{% for article in articles %}
{% capture slugify_title %}{{article.title|slugify|capitalize}}:{{article.article_id}}{% endcapture %}
{% capture first_letter %}{{slugify_title|slice:0,1}}{% endcapture %}
{% if article_letters contains first_letter %}
{% else %}
{% assign article_letters = article_letters | push: first_letter %}
{% endif %}
{% assign article_titles = article_titles | push: slugify_title %}
{% endfor %}
{% assign article_titles_sorted = article_titles | sort %}
{% assign article_letters_sorted = article_letters | sort %}

  <nav id="letters">
    {% for article_letter in article_letters_sorted %}
      <a href="#{{article_letter}}">{{article_letter}}</a>
    {% endfor %}
  </nav>
  {% for article_letter in article_letters_sorted %}
  <section class="letter-articles">
    <a name="{{article_letter}}"></a>
    <p><a href="#top">{{article_letter}}</a></p>
    <ul>
    {% for article_title in article_titles_sorted %}
      {% capture slugify_title %}{{article_title|slice:0,1}}{% endcapture %}
      {% if slugify_title == article_letter %}
        {% assign article_id = article_title | split: ":" | last %}
        {% assign article_title = article_title | split: ":" | first %}
        {% assign article = site.sc_articles | where: "article_id", article_id | first %}
        <li><a href="{{article.issue}}.html#{{article.article_id}}">{{article.title}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </section>
  {% endfor %}
  {% for article_title in article_titles_sorted %}
  <p>{{article_title}}</p>
  {% endfor %}
</section>
