body {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; background-color: #FFFFFF; background-image:none}
table {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.headline {  font-family: Impact, Arial, Helvetica, sans-serif; font-size:24pt; color:#000077}
.title {  font-family: Impact, Arial, Helvetica, sans-serif; font-size:36pt}
.hellofans {  font-family:Arial, Helvetica, sans-serif; font-size:16pt; color: #006600}
.minitext {  font-family: Arial, Helvetica, sans-serif; font-size:8pt; font-weight: bold}
.tinytext {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt}
.usenet {  font-family:"Courier New", Courier; font-size: 10pt; background-color: #ddddff; border:none}

.volume {  font-size: 16pt}
h2 {  font-family: Arial, Helvetica, sans-serif; font-size:24pt}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size:14pt}
a:link {  color: #000077}
a:active {  color: #FFFF99}
a:visited {  color: #770000}
.MenuHeading { font-family: Impact, Arial, Helvetica, sans-serif; font-size:12pt; color:#FFFF99}
.Previous { font-family: Impact, Arial, Helvetica, sans-serif; font-size:12pt; color:#000000}
