---
layout: citizen-base
style: citizen
title: Senior Citizen!!!!!!!!! Version 1!!!!!!!
keywords: Senior, Dads, internet, "Senior Citizen", Citizen, v1
author: Old Fart!!!
---
{%- include sc_landing_header.html -%}
<section id="issues-archive">
  <h1>Senior Citizen v1 Issues!!!!</h1>
  <section class="issues">
  {% assign issues = site.scv1_issues | sort: "date" | reverse %}
  {% for issue in issues %}
    <a href="{{ issue.issue }}.html"{% if issue.cover_image %}
      style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url({{ issue.cover_image }}), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))" 
      class="has-cover{% if issue.cover_align %} {{ issue.cover_align }}{% endif %}"
    {% endif %}>
      <span class="issue">{{ issue.issue }}</span>
      <span class="issue-title">{{ issue.issue-title }}</span>
      <span class="date">{{ issue.date | date: "%d/%m/%Y" }}</span>
    </a>
  {% endfor %}
  </section>
</section>
