---
layout: citizen-base
style: citizen
title: Senior Citizen!!!!!!!!! Version 1!!!!!!! Issues!!!!!
keywords: Senior, Dads, internet, "Senior Citizen", Citizen, v1
author: Old Fart!!!
---
{%- include sc_landing_header.html -%}
<section id="issues-archive">
  <h1>Senior Citizen v1 Issues!!!!</h1>
  <p>Here's all the issues of Senior Citizen v1, which existed from summer 1998 to spring 1999!!!! Relive 
    the heady days of the growth of the supa-dupa inphopipe of tha W3!!!!! Days when Google, streaming and 
    DVDs were new fangled thingies!!!!! Where the height of mobile phone sophistication was a Blackberry, 
    and people thought Portals were the next big thing!!!!! And we covered it all in our special Senior 
    style, which also accidentely helped invent 
    <a href="https://www.theregister.com/" target="_blank">The Register</a> as well!!!! (Possibly!!!!!!)</p>
  <p>You can browse individual issues on this page, or you can pick from the <b>728</b> stories we covered,
    using our <a href="archive.html">article index</a>!!!!!!! The titles of the articles might not help much tho!!!!!!!!!!</p>
  <p>Also!!!! There is a pre-cursor to SC!!!!! You can see it <a href="../../netbest/">here</a>.....</p>
  <section class="issues">
  {% assign issues = site.scv1_issues | sort: "date" | reverse %}
  {% for issue in issues %}
    <a href="{{ issue.issue }}.html"{% if issue.cover_image %}
      style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url({{ issue.cover_image }}), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))" 
      class="has-cover{% if issue.cover_align %} {{ issue.cover_align }}{% endif %}"
    {% endif %}>
      <span class="issue">{{ issue.issue }}</span>
      <span class="issue-title">{{ issue.issue-title }}</span>
      <span class="date">{{ issue.date | date: "%d/%m/%Y" }}</span>
    </a>
  {% endfor %}
  </section>
</section>
