---
layout: citizen-base
style: citizen
---
<map name="Citizen">
  <area shape="RECT" coords="0,0,86,110" href="{{ "/" | relative_url }}" /> 
  <area shape="RECT" coords="87,0,368,110" href="{{ "/features/citizen/" | relative_url }}" >
</map> 
<section id="main-v1">
  <nav>
    <div class="issue">Issue {{ page.issue }} - ({{ page.date | date: "%d/%m/%Y" }})</div>
    <div class="description">SENIOR CITIZEN is a flippin' good read of other
      people's flippin' good read!!! Peruse the wierd and wacky each week thru the
      miracle that is the megamighty super-information edutainment multimedia
      ultra-highway Webby thingy!!!!!</div>
    <div class="email-us">Any interesting stories, feedback, suggestions?? Mail us!! at
      <a href="mailto:senior@forfree.at">senior@forfree.net</a>!!!</div>
    <div class="written-by">Written by: {{ page.author }}</div>
    <div class="contributors">Contributors: {% if page.contributors %}{{ page.contributors }}{% else %}Er, none yet!!{% endif %}</div>
    <div class="previous-issues">
      Previous Issues!!<br/>(Go el <a href="archive.html">archive</a>-o!!)
      <ol start="25" reversed="true">
        {% assign issues = site.scv1_issues | sort: "date" | reverse %}
        {% for issue in issues %}
        <li><a href="{{ issue.issue }}.html">{{ issue.issue-title }}</a>!!!<br/>({{ issue.date | date: "%d/%m/%Y" }})</li>
        {% endfor %}
      </ol>
      Read the <a href="../">current</a> issue...
    </div>
    {% capture music_url %}/features/citizen/v1/music/{{ page.issue }}.mid{% endcapture %}
    <div class="music">
      <script type="text/javascript">
        var music = new MidiPlayer('{{ music_url | relative_url }}', 'musiplay'); 
        function play(button) { 
          if (button.value == 'Play!') {
            music.play();
            button.value = 'Stop!';
          }
          else {
            music.stop();
            button.value = 'Play!';
          }
        }
      </script>
      Music by <b>Mozart</b>!!
      <input type="button" onclick="play(this);" value="Play!" id="musiplay" />
    </div>
  </nav>
  <section>
    <header>
      <p>
        <img src="{{"/features/citizen/graphics/logo.gif" | relative_url }}" usemap="#Citizen" border="0" width="380" height="110" alt="Senior Citizen!!!" title="Senior Citizen!!!">
      </p>
      <p>
        <a href="{{ "/features/citizen/" | relative_url }}" target="_new">http://seniordads.atari.org/features/citizen/</a>
      </p>
    </header>
    <article class="editorial">
      {{ content }}
    </article>
    {% assign articles = site.sc_articles %}
    {% for article in articles %}
    {% if article.version == 1 %}
    {% if article.issue == page.issue %}
    <article>
      <a name="{{ article.article_id }}"></a>
      <h2>{{ article.title }}</h2>
      {{ article.content }}
    </article>
    {% endif %}
    {% endif %}
    {% endfor %}
  </section>
</section>
<footer class="the-end">
  <p>THE END!!!!! ... For now!!!</p>
  <p>This text and stuff is (c) {{ page.year }} HOUSE OF SENIOR DADS</p>
</footer>