---
layout: citizen-base
style: citizen
---
<map name="Citizen">
  <area shape="RECT" coords="0,0,86,110" href="{{ "/" | relative_url }}" /> 
  <area shape="RECT" coords="87,0,368,110" href="{{ "/features/citizen/" | relative_url }}" >
</map> 
<section id="main-v1">
  <nav>
    <div class="issue">Issue {{ page.issue }} - ({{page.date}})</div>
    <div class="description">SENIOR CITIZEN is a flippin' good read of other
      people's flippin' good read!!! Peruse the wierd and wacky each week thru the
      miracle that is the megamighty super-information edutainment multimedia
      ultra-highway Webby thingy!!!!!</div>
    <div class="email-us">Any interesting stories, feedback, suggestions?? Mail us!! at
      <a href="mailto:senior@forfree.at">senior@forfree.net</a>!!!</div>
    <div class="written-by">Written by: {{ page.author }}</div>
    <div class="contributors">Contributors: {% if page.contributors %}{{ page.contributors }}{% else %}Er, none yet!!{% endif %}</div>
    <div class="previous-issues">
      Previous Issues!!<br/>(Go el <a href="archive.html">archive</a>-o!!)
      <ol start="25" reversed="true">
        <li><a href="25.html">Playstation 2: Yawn!!!!!!!!!!</a>!!!<br/>(07/03/1999)</li>
        <li><a href="24.html">This Is Your Bloody (Late!!!) Valentine!!!!!!!!!!</a>!!!<br/>(19/02/1999)</li>
        <li><a href="23.html">Big Brother Inside!??!?!?</a>!!!<br/>(01/02/1999)</li>
        <li><a href="22.html">Official!!! Furbies are security threats!!!!!!!!!</a>!!!<br/>(25/01/1999)</li>
        <li><a href="21.html">Oh my God, they've killed 1998!!!!!!!!</a>!!!<br/>(10/01/1999)</li>
        <li><a href="20.html">Xmas- it's a blast!!!!!</a>!!!<br/>(18/12/1998)</li>
        <li><a href="19.html">N-n-n-n-nineteen!!!!! (Cold, isn't it?!?!?)</a>!!!<br/>(11/12/1998)</li>
        <li><a href="18.html">This edition has been disinfected before distribution!!!</a>!!!<br/>(06/12/1998)</li>
        <li><a href="17.html">The saga begins: Spring 1999!!!!</a>!!!<br/>(23/11/1998)</li>
        <li><a href="16.html">If you read this issue (Your life will be better)!!!!!</a>!!!<br/>(14/11/1998)</li>
        <li><a href="15.html">Dress up in 'Planet of the Apes' costumes, then greet John Glenn when he comes back!!!!!</a>!!!<br/>(06/11/1998)</li>
        <li><a href="14.html">The One Where We Don't Mention 'Velvet Goldmine'!!!!</a>!!!<br/>(30/10/1998)</li>
        <li><a href="13.html">It's not a problem- it's just a small rounding error!!!!</a>!!!<br/>(23/10/1998)</li>
        <li><a href="12.html">Buy Sky Digital, or your telly will jump off a cliff!!!</a>!!!<br/>(09/10/1998)</li>
        <li><a href="11.html">The Phantom Menace!!!!!</a>!!!<br/>(04/10/1998)</li>
        <li><a href="10.html">Double Digit Salute!!!!!</a>!!!<br/>(25/09/1998)</li>
        <li><a href="9.html">Grelb is dead!!!!!</a>!!!<br/>(12/04/1998)</li>
        <li><a href="8.html">Do ill clubbers get 'Saturday Night Fever'?!?!?</a>!!!<br/>(04/09/1998)</li>
        <li><a href="7.html">The magazine equivalent of 'Saving Private Ryan'!!!!</a>!!!<br/>(28/08/1998)</li>
        <li><a href="6.html">Monica Lewinsky- What's she going to look like with a chimney on her!?!?!?</a>!!!<br/>(21/08/1998)</li>
        <li><a href="5.html">Sony Handycam allows you to see through clothes!!!!</a>!!!<br/>(14/08/1998)</li>
        <li><a href="4.html">National Smile Week!!!</a>!!!<br/>(07/08/1998)</li>
        <li><a href="3.html">http://www.whitehouse.com/ is actually a porn site!!!</a>!!!<br/>(24/07/1998)</li>
        <li><a href="2.html">'Cuban Boy' is really Noel Gallagher & Paul Weller!!!</a>!!!<br/>(18/07/1998)</li>
        <li><a href="1.html">Because we want to!!!!</a>!!!<br/>(13/07/1998)</li>
        <li><a href="0.html">EEE!!!! (The Prequel!!!)</a>!!!<br/>(02/06/1998)</li>
      </ol>
      Read the <a href="../">current</a> issue...
    </div>
    <div class="music">
      <script type="text/javascript">
        var music = new MidiPlayer('music/{{ page.issue }}.mid', 'musiplay'); 
        function play(button) { 
          if (button.value == 'Play!') {
            music.play();
            button.value = 'Stop!';
          }
          else {
            music.stop();
            button.value = 'Play!';
          }
        }
      </script>
      Music by <b>Mozart</b>!!
      <input type="button" onclick="play(this);" value="Play!" id="musiplay" />
    </div>
  </nav>
  <section>
    <header>
      <p>
        <img src="../graphics/logo.gif" usemap="#Citizen" border="0" width="380" height="110" alt="Senior Citizen!!!" title="Senior Citizen!!!">
      </p>
      <p>
        <a href="http://seniordads.atari.org/features/citizen/" target="_new">http://seniordads.atari.org/features/citizen/</a>
      </p>
    </header>
    {{ content}}
  </section>
</section>
<footer class="the-end">
  <p>THE END!!!!! ... For now!!!</p>
  <p>This text and stuff is (c) {{ page.year }} HOUSE OF SENIOR DADS</p>
</footer>